
    /* Estilo para o contêiner do carrossel */
    .carrossel {
        width: 700px;      /* Define a largura da div */
        margin: 0 auto;    /* Centraliza a div horizontalmente na página */
        display: flex;     /* Usando flexbox */
        justify-content: center; /* Alinha os itens no eixo horizontal */
        align-items: center; /* Alinha os itens no eixo vertical */
    }

    /* Estilo para a imagem dentro da div */
    img {
        display: block;     /* Impede a imagem de ser exibida como inline */
        margin: 0 auto;     /* Centraliza a imagem horizontalmente */
        max-width: 100%;     /* Impede que a imagem ultrapasse o limite da div */
        height: auto;        /* Mantém a proporção da imagem */
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    /* Estilo do filtro de pesquisa */
.filtro-container {
    margin-top: 20px;
    text-align: center;
}

/* Ajustando a largura do campo de pesquisa para ocupar metade da tela */
.input-group {
    max-width: 50%;  /* A largura máxima do input será 50% */
    margin: 0 auto;  /* Centraliza o input na tela */
}

/* O input ocupa 100% do espaço disponível na sua div pai */
.form-control {
    width: 100%; 
    font-size: 16px;
}

/* Estilo do botão da lupa */
.btn-outline-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
}

/* Ícone da lupa */
.btn-outline-secondary .bi-search {
    font-size: 18px;
    color: #888;
}

/* Estilo dos serviços e dropdown */
.servicos-dropdown {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.categoria:hover .servicos-dropdown {
    display: block;
}

.categoria {
    position: relative;
}

.lista-servicos p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;   /* Cor de fundo opcional */
    color: white;             /* Cor do texto opcional */
}



