
.carrossel {
    width: 700px;     
    margin: 0 auto;   
    display: flex;     
    justify-content: center; 
    align-items: center;
}

img {
    display: block;   
    margin: 0 auto;   
    max-width: 100%;   
    height: auto;     
    margin-top: 30px;
    margin-bottom: 30px;
}
    
.filtro-container {
    margin-top: 20px;
    text-align: center;
}

.input-group {
    max-width: 50%;  
    margin: 0 auto;  
}

.form-control {
    width: 100%; 
    font-size: 16px;
}

.btn-outline-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
}

.btn-outline-secondary .bi-search {
    font-size: 18px;
    color: #888;
}

.servicos-dropdown {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.categoria:hover .servicos-dropdown {
    display: block;
}

.categoria {
    position: relative;
}

.lista-servicos p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;  
    color: white;    
    margin-top: 40px;        
}

.card-img {
    width: 400px;
    height: 300px;
}




.dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    display: none;
  }

#navbarDropdown::after,
#dropdownAutomovel::after,
#dropdownBeleza::after {
  display: none;
}

.text-white, .dropdown > h4{
  color: white !important;
}

.dropdown-menu {
    left: 50% !important; 
    transform: translateX(-50%) !important; 
    text-align: center; 
}

.titulo-agendamento {
    text-decoration: underline #32569F;
    text-underline-position: under;  
}

.container-agendamento {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: fff;
}

#tarefa-create-container {
    display: grid;
    justify-content: center;
    align-items: center; 
    height: 70vh; 
    padding: 30px;
}

.input-agendamento{
    display: grid;
    place-items: center; 
    height: 50px;     
}

.input-agendamento > input{
    width: 150px;
    margin-top: 20px;
    background-color: #32569F;
    color: #fff;
}

.small-carousel {
    max-width: 900px;
    height: auto;
    margin: auto;
  }
  
  .small-carousel img {
    height: 450px;
    object-fit: cover;
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .carousel-caption h5, 
  .carousel-caption p {
    color: white;
  }

  .content {
    background-color: #32569F;
    color: white;
  }

  .navbar {
    background-color: #32569F;
  }

  .nav-link, .navbar-brand {
    color: white !important;
  }

  .btn-primary {
    background-color: #007bff !important;
  }
  